* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* default styles */
html {
	-webkit-font-smoothing: antialiased !important;
}
body {
	font-size: 14px;
	line-height: 1.4;
	color: #000000;
	background-color: #ffffff;
}
:after,
:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol,
li {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

/* Roboto */
@font-face {
	font-family: 'robotoblack';
	src: url('./assets/fonts/roboto-black-webfont.woff2') format('woff2'),
		url('./assets/fonts/roboto-black-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotoblack_italic';
	src: url('./assets/fonts/roboto-blackitalic-webfont.woff2') format('woff2'),
		url('./assets/fonts/roboto-blackitalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotobold';
	src: url('./assets/fonts/roboto-bold-webfont.woff2') format('woff2'),
		url('./assets/fonts/roboto-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotobold_italic';
	src: url('./assets/fonts/roboto-bolditalic-webfont.woff2') format('woff2'),
		url('./assets/fonts/roboto-bolditalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotoitalic';
	src: url('./assets/fonts/roboto-italic-webfont.woff2') format('woff2'),
		url('./assets/fonts/roboto-italic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotolight';
	src: url('./assets/fonts/roboto-light-webfont.woff2') format('woff2'),
		url('./assets/fonts/roboto-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotolight_italic';
	src: url('./assets/fonts/roboto-lightitalic-webfont.woff2') format('woff2'),
		url('./assets/fonts/roboto-lightitalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotomedium';
	src: url('./assets/fonts/roboto-medium-webfont.woff2') format('woff2'),
		url('./assets/fonts/roboto-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotomedium_italic';
	src: url('./assets/fonts/roboto-mediumitalic-webfont.woff2') format('woff2'),
		url('./assets/fonts/roboto-mediumitalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotoregular';
	src: url('./assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
		url('./assets/fonts/roboto-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotothin';
	src: url('./assets/fonts/roboto-thin-webfont.woff2') format('woff2'),
		url('./assets/fonts/roboto-thin-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotothin_italic';
	src: url('./assets/fonts/roboto-thinitalic-webfont.woff2') format('woff2'),
		url('./assets/fonts/roboto-thinitalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
/* open sans */
@font-face {
	font-family: 'open_sansbold';
	src: url('./assets/fonts/opensans-bold-webfont.woff2') format('woff2'),
		url('./assets/fonts/opensans-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sansbold_italic';
	src: url('./assets/fonts/opensans-bolditalic-webfont.woff2') format('woff2'),
		url('./assets/fonts/opensans-bolditalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sansextrabold';
	src: url('./assets/fonts/opensans-extrabold-webfont.woff2') format('woff2'),
		url('./assets/fonts/opensans-extrabold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sansextrabold_italic';
	src: url('./assets/fonts/opensans-extrabolditalic-webfont.woff2') format('woff2'),
		url('./assets/fonts/opensans-extrabolditalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sansitalic';
	src: url('./assets/fonts/opensans-italic-webfont.woff2') format('woff2'),
		url('./assets/fonts/opensans-italic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sanslight';
	src: url('./assets/fonts/opensans-light-webfont.woff2') format('woff2'),
		url('./assets/fonts/opensans-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sanslight_italic';
	src: url('./assets/fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
		url('./assets/fonts/opensans-lightitalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sansregular';
	src: url('./assets/fonts/opensans-regular-webfont.woff2') format('woff2'),
		url('./assets/fonts/opensans-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sanssemibold';
	src: url('./assets/fonts/opensans-semibold-webfont.woff2') format('woff2'),
		url('./assets/fonts/opensans-semibold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sanssemibold_italic';
	src: url('./assets/fonts/opensans-semibolditalic-webfont.woff2') format('woff2'),
		url('./assets/fonts/opensans-semibolditalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* Login page Design */
.body {
	background-image: url('./assets/images/form_bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	position: relative;
}
h1 {
	font-family: 'open_sanslight';
	color: #ffffff;
	font-weight: 100;
	font-size: 32px;
	margin-bottom: 25px;
}
h5 {
	font-family: 'robotoregular';
	color: #ffffff;
	font-weight: 100;
	letter-spacing: .5px;
	font-size: 11px;
	margin-bottom: 20px;
}
p {
	font-family: 'robotoregular';
	color: #ffffff;
	font-weight: 100;
	font-size: 11px;
	letter-spacing: .5px;
}
a {
	text-decoration: none;
	font-family: 'open_sanslight';
	color: #ffffff;
	font-weight: 100;
	letter-spacing: .5px;
	font-size: 12px;
}
input {
	font-family: 'robotoregular';
	height: 30px;
	box-shadow: none;
	border: none;
	padding: 0 5px;
	&:focus {
		outline: none !important;
	}
	&:active {
		outline: none !important;
	}
}
input[type='text'],
input[type='password'] {
	width: 100%;
	font-size: 12px;
}
input[type='submit'] {
	width: 100%;
	background-color: #f50057;
	color: #ffffff;
	height: 36px;
}
input[type='checkbox'] {
	float: left;
	height: auto;
	position: relative;
	top: 1px;
}
.terms_service {
	display: inline-block;
	margin-left: 5px;
}
.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}
.stylekit {
	height: 100vh;
	background-color: #2d2b37;
}
.register_body {
	width: 350px;
	margin: 0 auto;
	background-color: rgba(33, 33, 33, 0.6509803921568628);
	padding: 20px;
	box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.5);
	padding-bottom: 50px;

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	h1 {
		text-align: center;
	}

	#form_submit {
		&:active {
			outline: none !important;
		}
		&:focus {
			outline: none !important;
		}
	}

	.error_message {
		position: absolute;
		left: 22px;
		bottom: 36px;
		h5 {
			margin-bottom: 0;
			&.active {
				animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
				transform: translate3d(0, 0, 0);
				backface-visibility: hidden;
				perspective: 1000px;
			}
		}
	}
}
.formm-group {
	margin-bottom: 20px;
	&:nth-child(4) {
		margin-top: 30px;
	}
}

.dashboard_page {
	text-align: center;
	h1 {
		font-family: 'robotoregular';
		color: #000000;
		margin-top: 30px;
	}

	.logout {
		width: auto;
		background-color: #f50057;
		color: #ffffff;
		height: 36px;
		cursor: pointer;
		border: none;
		padding: 0 40px;
	}
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}
